{# Define Routing #}
{%- set appRoute = app.request.attributes.get('_route') -%}

{# Define Full Routing #}
{%- set appRouting = app.request.schemeAndHttpHost ~ app.request.requestUri -%}

{# Define Current Locale #}
{%- set appLocale = app.request.locale -%}

{# JS/CSS Vesrion #}
{%- set getVersion = "0.0.5" -%}

<!doctype html>
<html lang="{{- locale -}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="google-site-verification" content="knw8bMaYtGuq0Wktw6vTVKrUZwtcwsFzSCxjGh7mReQ" />
    <meta name="googlebot" content="noodp" />
    <meta name="robots" content="index, follow, all" />
    <meta name="author" content="">
    <title>
        {%- if (appRoute == 'app_homepage') -%}
            {{- "Steem & Strimi • " }}
        {%- endif -%}
        {%- spaceless -%}
            {%- block title -%}
            {%- endblock -%}
        {%- endspaceless %}
        {% spaceless -%}
            {%- if (appRoute != 'app_homepage') -%}
                {{ " • " }}
            {%- endif -%}
            {{ "app.nameUpercaseDomain"|trans -}}
        {%- endspaceless -%}

    </title>
    <meta name="description" content="{%- spaceless -%}{%- block description -%}{%- endblock -%}{%- endspaceless -%}" />
    <meta property="og:locale" content="pl_PL" />
    <meta property="og:site_name" content="{{- "app.nameUpercaseDomain"|trans -}}"/>
    {%- block facebook -%}
        {%- spaceless -%}
            <meta property="og:title" content=""/>
            <meta property="og:image" content=""/>
            <meta property="og:description" content="" />
        {%- endspaceless -%}
    {%- endblock -%}
    <meta property="og:url" content="{{- appRouting -}}" />

    {%- spaceless -%}
        {%- block canonical -%}
            <link href="{{- appRouting -}}" rel="canonical" />
        {%- endblock -%}
    {%- endspaceless -%}

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="dns-prefetch" href="//www.facebook.com" />
    <link rel="dns-prefetch" href="//connect.facebook.net" />
    <link rel="dns-prefetch" href="//staticxx.facebook.com" />
    <link rel="dns-prefetch" href="//apis.google.com" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="dns-prefetch" href="//fonts.gstatic.com" />
    <link rel="dns-prefetch" href="//google.com" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//platform.twitter.com" />

    <link rel="stylesheet" type="text/css" href="/css/{{- getVersion -}}/vendor.css">
    <link rel="stylesheet" type="text/css" href="/css/{{- getVersion -}}/app.css">

</head>
<body data-spy="scroll" data-target="#menuNavbar">
    {%- include ':source/header:index.html.twig' -%}
    <div class="wrapper">
        {%- block body -%}
        {%- endblock -%}
    </div>
    {%- include ':source/footer:index.html.twig' -%}

    <script src="/js/{{- getVersion -}}/vendor.js"></script>
    <script src="/js/{{- getVersion -}}/tr.js"></script>
    <script src="/js/{{- getVersion -}}/app.js"></script>
</body>
</html>
