<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                {{- 'app.footer.rights'|trans({ '%date%': 'now'|date('Y'), '%site_name%': 'app.nameUpercaseDomain'|trans }) -}}
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                        <ul>
                            <li class="name">
                                {{- 'app.footer.using.name'|trans -}}
                            </li>
                            <li>
                                <a href="https://steem.io/documentation/" target="_blank" rel="nofollow">
                                    {{- 'app.footer.using.documentation'|trans -}}
                                </a>
                            </li>
                            <li>
                                <a href="https://steemd.com/" target="_blank" rel="nofollow">
                                    {{- 'app.footer.using.blockExplorer'|trans -}}
                                </a>
                            </li>
                            <li>
                                <a href="https://www.steemit.com/" target="_blank" rel="nofollow">
                                    {{- 'app.footer.using.communityApp'|trans -}}
                                </a>
                            </li>
                            <li>
                                <a href="http://github.com/steemit" target="_blank" rel="nofollow">
                                    {{- 'app.footer.using.github'|trans -}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <ul>
                            <li class="name">
                                {{- 'app.footer.social.name'|trans -}}
                            </li>
                            <li>
                                <a href="https://bitcointalk.org/index.php?topic=1410943.0" target="_blank" rel="nofollow">
                                    {{- 'app.footer.social.bitcointalk'|trans -}}
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/strimipl/" target="_blank" rel="nofollow">
                                    {{- 'app.footer.social.facebook'|trans -}}
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/strimipl" target="_blank" rel="nofollow">
                                    {{- 'app.footer.social.twitter'|trans -}}
                                </a>
                            </li>
                            <li>
                                <a href="https://steemit.chat/channel/strimi" target="_blank" rel="nofollow">
                                    {{- 'app.footer.social.chat'|trans -}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>